<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
</style>
<html>
    <head>
        <title>{{ title }} - Events</title>
    </head>
    <body>
        <nav id="header">
            <h1>Goldblum Events</h1>
            <ul>
                <li><a href="/events">Home</a></li>
            </ul>
        </nav>
        <hr>
        {% block content %}
            
        {% endblock  %}
    </body>
</html>